html, body {
  margin: 0;
  height: 100%;
}
line {
  stroke: brown;
  stroke-width: 3;
}

path {
  stroke: green;
  stroke-width: 2px;
  fill:none;
}
.button {
  background-color: green;
  margin: 100px;
  padding: 15px;
  float: left;
}
a{
  color: white;
  text-decoration: none;
}


g.tick line {
  stroke: green;
}

g.tick text {
  font-size: 12px;
  fill: blue;
}